.boss{
    border: 3px solid black;
    background-color: bisque;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    row-gap: 10%;
    border: 2px solid greenyellow;
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.wnCcfstSaxeSHJX46FjT6AHaEJ?pid=Api&P=0&h=180);
    background-size: contain;
}
ul>li{
    list-style: none;
}
a{
    text-decoration: none;
}
.home{
    border: 2px solid rgb(130, 237, 113);
    background-color: lightgreen;
}
.list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10%;
}
.user{
    position: absolute;
    right: 120px;
    padding: 0%;
    margin:0%;
    border: 2px solid rgb(20, 220, 97);
    border-radius: 30%;
    background-color: rgb(73, 231, 71);
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    color:rgb(22, 153, 235) ;
}

